.lights-button{
    vertical-align: center;
    text-align: center;
    font-size: 35px;
    width: 150px;
    height: 150px;
    border-radius: 30%;
    border-width: 3px;
    transform: rotate(90deg);
}

.lights-on{
    background-color: yellow;
    border-color: black;
    color: black;
}

.lights-off{
    background-color: black;
    border-color: yellow;
    color: yellow;
}


